*               text eol=crlf

*.cs            text diff=csharp
*.sln           text merge=union

*.png           binary
*.snk           binary

.gitattributes  export-ignore
.gitignore      export-ignore
